:root {
    --transition-time: 0.25s;
    --link-color: rgb(123, 166, 180);
    --hover-color: lightblue;
    --lato: 'Lato', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-bottom: 100px;
    font-family: var(--lato);
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    padding: 2px 4px;
    color: var(--link-color);
    font-family: sans-serif;
    transition: var(--transition-time);
}

a:hover {
    color: var(--hover-color);
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
}

.code-block {
    padding: 8px 10px;
    overflow-x: scroll;
}

.center-content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: white;
    box-shadow: 0 2.5px 8px var(--link-color);
}

.navbar-item {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.navbar-button {
    background: none;
    border: none;
    cursor: pointer;
    visibility: visible;
}

.navbar-button span {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    transition: var(--transition-time);
}

.navbar-button.active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: 4px;
}
.navbar-button.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.navbar-button.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -16px;
}

.navbar-button:hover > span {
    background: var(--hover-color);
}

.burger-line {
    width: 25px;
    height: 3px;
    background: black;
}

.docs-menu {
    position: fixed;
    transform: translate(100vw, 0);
    z-index: -1;
}

.docs-menu.active {
    direction:rtl;
    overflow-y: scroll;
    transform: translate(0, 0);
    z-index: 3;
    width: 100vw;
    height: calc(100vh - 50px);
    background: white;
    border-left: 4px solid black;
    top: 50px;
}

.docs-menu ul {
    direction:ltr;
    list-style: circle;
}

.docs-menu li {
    width: 300px;
    margin-bottom: 10px;
}

.docs-menu a {
    font-size: 24px;
}

.last-button-container {
    display: flex;
    justify-content: space-between;
}

.last-button {
    text-decoration: none;
    color: var(--hover-color);
    padding: 8px 12px;
    border: 2px solid var(--hover-color);
    transition: var(--transition-time);
}

.last-button:hover {
    color: white;
    background: var(--hover-color);
}

@media only screen and (min-width: 600px) {
    .navbar-container {
        height: 60px;
    }

    .navbar-item {
        padding: 10px 35px;
    }

    .docs-menu.active {
        width: 407px;
        height: calc(100vh - 60px);
        background: white;
        border-left: 3px solid black;
        top: 60px;
        right: 0;
    }

    .docs-menu a {
        font-size: 18px;
    }
}